.messages
  = render @messages
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = format_posted_time(message.created_at)
  .lower-message
    %p.lower-message__content
      - if message.content.present?
        = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
.form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'